* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
   max-width: 1480px;
   height: auto 120px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
}

.header {
    padding-top: 36px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header_link {
    color: var(--1, #1F2428);
}

.header_btn {
    color: var(--1, #FFF);
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 100%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    text-align: center;
    padding: 15px 17px;
    border: none;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.hero {
    margin-top: 36px;
    background-image: url(/images/bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container {
    display: flex;
    align-items: center;
}

.hero_title {
    width: 715px;
    padding-top: 96px;
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
}

.hero_text {
    width: 707px;
    padding-top: 8px;
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    padding-bottom: 36px;
}

.hero-btn {
    color: var(--1, #FFF);
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 100%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    text-align: center;
    padding: 15px 20px;
    border: none;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 108px;
}

.intro {
    padding-top: 160px;
    padding-bottom: 80px;
}

.intro_title {
    width: 477px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 38px;
}

.intro_list {
    display: flex;
    gap: 145px;
}

.intro_item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 17px;
}

.intro_item1 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 17px;
    background-image: url(/images/logotip.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 41px;
}

.intro_item2 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 17px;
    background-image: url(/images/logotip1.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 41px;
}

.home {
    padding-top: 160px;
}

.home_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home_title {
    width: 400px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 44px;
}

.home-title {
    width: 338px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 44px;
}

.home_btn {
    width: 400px;
    height: 120px;
    background-image: url(/images/home2.png);
    background-repeat: no-repeat;
    align-items: center;
    border: none;
    background-position: 40px;
    border-radius: 16px;
}

.home-btn {
    background-image: url(/images/home1.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: 40px;
    width: 400px;
    height: 120px;
    border: none;
}


.service {
    padding-top: 33px;
}

.service_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service_text {
    color: var(--1, #1F2428);
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 7px;
}

.service_title {
    color: var(--1, #1F2428);
    text-align: center;
    font-family: Gilroy;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.service_block1 {
    background-image: url(/images/service2.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 45px;
}

.service_block2 {
    background-image: url(/images/service3.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 45px;
}


.holder {
    padding-top: 160px;
}

.holder_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.holder_title {
    width: 88px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.holder_item1 {
    background-image: url(/images/holder.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px;
}

.holder_item {
    background-image: url(/images/holder1.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px;
}

.holder_item2 {
    background-image: url(/images/holder2.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px;
}

.holder_item3 {
    background-image: url(/images/holder3.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px;
}

.holder_item4 {

    stroke-width: 1px;
    stroke: var(--5, #C0C9D7);
    background-image: url(/images/holder4.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 70px;
}

.global {
    padding-top: 160px;
    background-image: url(/images/global.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.global_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.global_title {
    width: 763px;
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 11px;
}

.global_text {
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.global_btn {
    color: var(--1, #FFF);
    text-align: center;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    padding: 15px 24px;
    border-radius: 36px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 100%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
}

.general {
    padding-top: 160px;
    padding-bottom: 80px;   
}

.general_title {
    width: 824px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    margin-bottom: 20px;
}
.general-title{
    color: var(--2, #222);
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.general_text {
    width: 760px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}
.general_list{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}
.general-title{
    margin-bottom: 30px;
    color: var(--2, #222);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}
.general-span{
    color: var(--2, #222);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}
.general-btn{
    margin-top: 22px;
    width: 247px;
    height: 1px;
    flex-shrink: 0;
    background: var(--2, #222);
    display: block;
}
.general_btn{
    border-radius: 36px;
    border: none;
    margin-top: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 100%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color: var(--1, #FFF);
    text-align: center;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    padding: 17px 24px;
    font-weight: 700;
    line-height: 18px;
}

.bold_{
    padding-top: 160px;
    padding-bottom: 160px;
}
.bold_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bold_title{
    width: 695px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
}
.bold-title{
    width: 202px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.bold_text{
    width: 328px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.bold_btn{
    color: var(--7, #01CD7D);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.bold_text1{
    margin-top: 36px;
    width: 650px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 36px;
}
.bold-btn{
    color: var(--1, #FFF);
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 100%);
    padding: 24px 19px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    text-align: center;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.time{
    padding-top: 120px;
    background-image: url(/images/time.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.time_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.time_title{
    width: 763px;
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    margin-bottom: 19px;
}
.time_text{
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.time_btn{
    border-radius: 36px;
    padding: 20px 24px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 100%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color: var(--1, #FFF);
    text-align: center;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.tony{
    padding-top: 160px;
}
.tony_title{
    width: 834px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    margin-bottom: 20px;
}
.tony_list{
    display: flex;
    margin-top: 75px;
    align-items: center;
    justify-content: space-between;
}
.tony_text{
    width: 604px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}
.tony-text{
    width: 363px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}


.chemp{
    padding-top: 80px;
    
}
.chemp_list{
    display: flex;
    align-items: center;
    margin-bottom: 30px;    
}
.chemp_btn{
    border-radius: 36px;
    border: none;
    padding: 20px 24px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 100%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color: var(--1, #FFF);
    text-align: center;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.open{
    padding-top: 150px;
    padding: 150px;
}
.open_title{
    color: var(--1, #1F2428);
        font-family: Gilroy;
        font-size: 44px;
        font-style: normal;
        font-weight: 800;
        line-height: 56px;
        margin-bottom: 12px;
}
.open_text{
    width: 1400px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}

.wrap{
    padding-top: 150px;
    background-image: url(/images/wrap.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrap_container{
    display: flex;
    align-items: center;
}
.wrap_title{
    padding: 0 64px;
    width: 482px;
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.wrap_but{
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}
.wrap_btn{
    border: none;
    padding: 10px 10px;
    background: linear-gradient(45deg, #5B52A3 0%, #40B8EA 100%);
}
.wrap-btn{
    padding: 20px 24px;
    border-radius: 36px;
    border: none;
    margin-left: 380px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 100%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color: var(--1, #FFF);
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.about{
    padding-top: 160px;
    padding-bottom: 160px;
}
.about_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}

.about_title{
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 15px;
}
.about_text{
    width: 258px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.about-text{
    color: var(--1, #1F2428);
    text-align: center;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    margin-top: 36px;
}
